
        <div class="page-content">
        
           
            <div id="rev_slider_149_1_wrapper" class="rev_slider_wrapper fullscreen-container rev-hide-timer" data-alias="snowaddon1" data-source="gallery" style="background-color:#2d3032;padding:0px;">
                <div id="rev_slider_149_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>  
                        <li data-index="rs-407" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="2000"  data-thumb="adults.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="One" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                       <%= image_tag "adults.jpg" %>

                           
                            
                            <!-- LAYERS -->
                            <div id="rrzm_407" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">
                    
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption  " 
                                id="slide-407-layer-14" 
                                data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="row" 
                                data-columnbreak="2" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[100,50,50,50]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[100,50,50,50]"
                    
                                style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption  " 
                                id="slide-407-layer-15" 
                                data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="column" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-columnwidth="100%"
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme" 
                                id="slide-407-layer-1" 
                                data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" 
                                data-fontsize="['80','70','80','50']"
                                data-lineheight="['100','90','100','70']"
                                data-width="['none','none','697','399']"
                                data-height="none"
                                data-whitespace="['nowrap','nowrap','normal','normal']"
                     
                                data-type="text" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                    
                                data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[30,20,30,30]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,40,40]"
                    
                                style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600;
                                color: rgba(255, 255, 255, 1.00); display: inline-block;font-family:Poppins;letter-spacing:-5px;font-size:0.8em">The Most Trusted Online Platform for Investment</div>
                    
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme" 
                                id="slide-407-layer-2" 
                                data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" 
                                data-fontsize="['30','30','40','25']"
                                data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']"
                                data-height="none"
                                data-whitespace="normal"
                     
                                data-type="text" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                    
                                data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300;
                                color: rgba(255, 255, 255, 1.00); display: block;font-family:Poppins;"></div>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption tp-shape tp-shapewrapper " 
                                id="slide-407-layer-16" 
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="full"
                                data-height="full"
                                data-whitespace="normal"
                     
                                data-type="shape" 
                                data-basealign="slide" 
                                data-responsive_offset="off" 
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 5;background-color:rgba(2, 14, 34, 0.8);"> </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-408" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="2000"  data-thumb="adult.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->


                           
                             <%= image_tag "adult.jpg" %>

                            <!-- LAYERS -->
                            <div id="rrzm_408" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">
                    
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption  " 
                                id="slide-408-layer-14" 
                                data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="row" 
                                data-columnbreak="2" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[100,50,40,40]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[100,50,40,40]"
                    
                                style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption  " 
                                id="slide-408-layer-15" 
                                data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="column" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-columnwidth="100%"
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme" 
                                id="slide-408-layer-1" 
                                data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" 
                                data-fontsize="['80','70','80','50']"
                                data-lineheight="['100','90','100','70']"
                                data-width="['none','none','697','399']"
                                data-height="none"
                                data-whitespace="['nowrap','nowrap','normal','normal']"
                     
                                data-type="text" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                    
                                data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[30,20,30,30]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,40,40]"
                    
                                style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00);
                                display: inline-block;font-family:Poppins;letter-spacing:-5px;">SAFE AND CONFIDENT WAY TO INVEST YOUR CAPITAL</div>
                    
                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme" 
                                 id="slide-408-layer-2" 
                                 data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" 
                                 data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" 
                                            data-fontsize="['30','30','40','25']"
                                data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']"
                                data-height="none"
                                data-whitespace="normal"
                     
                                data-type="text" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                    
                                data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300;
                                color: rgba(255, 255, 255, 1.00); display: block;font-family:Poppins;"></div>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption tp-shape tp-shapewrapper " 
                                 id="slide-408-layer-16" 
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                data-height="full"
                                data-whitespace="normal"
                     
                                data-type="shape" 
                                data-basealign="slide" 
                                data-responsive_offset="off" 
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 5;background-color:rgba(2, 14, 34, 0.8);"> </div>
                        </li>
                        
                        
                        
                        
                        
                         <li data-index="rs-408" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="2000"  data-thumb="story.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Two" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="Untitled-1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <div id="rrzm_408" class="rev_row_zone rev_row_zone_middle" style="z-index: 6;">
                    
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption  " 
                                id="slide-408-layer-14" 
                                data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="row" 
                                data-columnbreak="2" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[100,50,40,40]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[100,50,40,40]"
                    
                                style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption  " 
                                id="slide-408-layer-15" 
                                data-x="['left','left','left','left']" data-hoffset="['100','100','100','100']" 
                                data-y="['top','top','top','top']" data-voffset="['100','100','100','100']" 
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                     
                                data-type="column" 
                                data-responsive_offset="on" 
                                data-responsive="off"
                                data-frames='[{"delay":"+0","speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-columnwidth="100%"
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['center','center','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 7; width: 100%;">
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme" 
                                id="slide-408-layer-1" 
                                data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" 
                                data-y="['top','top','top','top']" data-voffset="['0','0','230','110']" 
                                data-fontsize="['80','70','80','50']"
                                data-lineheight="['100','90','100','70']"
                                data-width="['none','none','697','399']"
                                data-height="none"
                                data-whitespace="['nowrap','nowrap','normal','normal']"
                     
                                data-type="text" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                    
                                data-frames='[{"delay":"+290","split":"chars","splitdelay":0.05,"speed":750,"frame":"0","from":"y:40px;sX:1.5;sY:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"frame":"999","to":"sX:1;sY:1;opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[30,20,30,30]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,40,40]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,40,40]"
                    
                                style="z-index: 8; white-space: nowrap; font-size: 110px; line-height: 100px; font-weight: 600; color: rgba(255, 255, 255, 1.00);
                                display: inline-block;font-family:Poppins;letter-spacing:-5px;">SAFE AND CONFIDENT WAY TO INVEST YOUR CAPITAL</div>
                    
                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme" 
                                 id="slide-408-layer-2" 
                                 data-x="['left','left','center','center']" data-hoffset="['0','50','0','0']" 
                                 data-y="['top','top','top','top']" data-voffset="['0','430','460','290']" 
                                            data-fontsize="['30','30','40','25']"
                                data-lineheight="['40','40','50','30']"
                                data-width="['none','100%','100%','100%']"
                                data-height="none"
                                data-whitespace="normal"
                     
                                data-type="text" 
                                data-basealign="slide" 
                                data-responsive_offset="on" 
                    
                                data-frames='[{"delay":"+890","split":"chars","splitdelay":0.03,"speed":300,"frame":"0","from":"sX:2;sY:2;opacity:0;fb:5px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:10px;","ease":"Power4.easeOut"}]'
                                data-margintop="[0,0,0,0]"
                                data-marginright="[0,0,0,0]"
                                data-marginbottom="[0,0,0,0]"
                                data-marginleft="[0,0,0,0]"
                                data-textAlign="['inherit','inherit','center','center']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 9; white-space: normal; font-size: 30px; line-height: 40px; font-weight: 300;
                                color: rgba(255, 255, 255, 1.00); display: block;font-family:Poppins;"></div>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption tp-shape tp-shapewrapper " 
                                 id="slide-408-layer-16" 
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                                            data-width="full"
                                data-height="full"
                                data-whitespace="normal"
                     
                                data-type="shape" 
                                data-basealign="slide" 
                                data-responsive_offset="off" 
                                data-responsive="off"
                                data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},
                                {"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['inherit','inherit','inherit','inherit']"
                                data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                    
                                style="z-index: 5;background-color:rgba(2, 14, 34, 0.8);"> </div>
                        </li>
                        
                    </ul>
                    
                    <div class="tp-bannertimer" style="height: 10px; background-color: rgba(255, 255, 255, 0.25);"></div> 
                </div>
            </div>
            <!-- SLIDER END -->
        
            <!-- MARQUEE SCROLL -->           
             <div class="bg-black marquee">
                <div class="TickerNews" id="T1">
                    <div class="ti_wrapper">             
                        <div class="ti_slide">
                            <div class="ti_content">
                              
                                <div class="ti_news"><a href="#"><span>Esther invested: </span><span> ₦30,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>EJIRO BLESSING invested: </span><span> ₦150,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Stephen invested: </span><span> ₦50,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Emmanuel invested: </span><span> ₦100,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Ogechukwu invested: </span><span> ₦500,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Chinaemerem invested: </span><span> ₦100,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>PASCHAL invested: </span><span> ₦190,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Lambert invested: </span><span> ₦20,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Edith invested: </span><span> ₦70,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>AB invested: </span><span> ₦30,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Obasi  Withdraws: </span><span> ₦194,640</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Adenike  Withdraws: </span><span> ₦36,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Ewa Withdraws: </span><span> ₦48,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Juliet  Withdraws: </span><span> ₦9,200</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Oduwa  Withdraws: </span><span> ₦26,772</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Ebikara  Withdraws: </span><span> ₦116,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Friday Attah Withdraws: </span><span> ₦100,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Edah Withdraws: </span><span> ₦25,500</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Olasoji Withdraws: </span><span> ₦44,000</span><span class="text-yellow p-lr5"></span></a></div>
                                
                                <div class="ti_news"><a href="#"><span>Elizabeth Withdraws: </span><span> ₦25,000</span><span class="text-yellow p-lr5"></span></a></div>
                                                                <!--<div class="ti_news"><a href="#"><img src="images/coin-icon/bitcoin.png" alt=""><span>BTC: </span><span>€ 8,699.23</span><span class="text-white p-lr5">1.08 %</span></a></div>
                                
                                <div class="ti_news"><a href="#"><img src="images/coin-icon/Ethereum.png" alt=""><span>ETH: </span><span>Ƀ 0.08160</span><span class="text-green p-lr5">-0.28 %</span></a></div>
                                <div class="ti_news"><a href="#"><img src="images/coin-icon/Ethereum.png" alt=""><span>ETH: </span><span>$ 867.93</span><span class="text-danger p-lr5">-0.60 %</span></a></div>
                                <div class="ti_news"><a href="#"><img src="images/coin-icon/Ethereum.png" alt=""><span>ETH: </span><span>¥ 5,549.46</span><span class="text-white p-lr5">-0.28 %</span></a></div>
                                <div class="ti_news"><a href="#"><img src="images/coin-icon/Ethereum.png" alt=""><span>ETH: </span><span>€ 709.94</span><span class="text-gray p-lr5">0.26 %</span></a></div> -->
                                
                                
                            </div>                                     
                        </div>
                   </div>
                </div>        
             </div>
             <div class="section-full  p-tb80 bg-gray">
              <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center">
                       
                        <h2 class="text-uppercase">Why Choose Us</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                        <p>DIAMOND HUB PLUS (DHP) is an online registered investment platform managed by a team of experienced and competent professionals in the finance and investment industry within and outside the country</p>
                    </div>
                    <!-- TITLE END-->  
                    <div class="section-content">
                        <div class="row">
                          <div class="col-md-8 col-sm-12">
                              <div class="row">
                                    <!-- COLUMNS 1 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="m-b30">
                                            <div class="wt-icon-box-wraper  p-a20 center bg-white ">
                                                <div class="icon-md text-primary m-b15">
                                                    <a href="#" class="icon-cell">
                                                    <%= image_tag "instant-payment.png" %>

                                                    </a>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="wt-tilte text-uppercase font-weight-500">Instant Payments</h4>
                                                    <p>All payment requests are automated ensuring there is no dilatory in the transactions.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 2 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="m-b30">
                                            <div class="wt-icon-box-wraper  p-a20 center bg-white">
                                                <div class="icon-md text-primary m-b15">
                                                    <a href="#" class="icon-cell">

                                                       <%= image_tag "safe.png" %>


                                                    </a>
                                                </div>
                                                <div class="icon-content ">
                                                    <h4 class="wt-tilte text-uppercase font-weight-500">Secure and Stable</h4>
                                                    <p>Our system is secured and stable.you can make withdrawals either after 20 to 45days depending on the package you choose.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 3 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="m-b30">
                                            <div class="wt-icon-box-wraper  p-a20 center bg-white">
                                                <div class="icon-md text-primary m-b15">
                                                    <a href="#" class="icon-cell"><%= image_tag "instant-payment.png" %>
</a>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="wt-tilte text-uppercase font-weight-500">Daily Earnings</h4>
                                                    <p>Once you have become an active participant. You can enjoy your assets growing each and every day.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 4 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="m-b30">
                                            <div class="wt-icon-box-wraper  p-a20 center bg-white">
                                                <div class="icon-md text-primary m-b15">
                                                    <a href="#" class="icon-cell">
                                                   <%= image_tag "pick-19.png" %>


                                                    </a>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="wt-tilte text-uppercase font-weight-500">Investment Planning</h4>
                                                    <p>All plans are based with simplicity in mind in order that even the newest of investors can interpret and leverage either plan to cultivate first rate earnings.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 5 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="m-b30">
                                            <div class="wt-icon-box-wraper  p-a20 center bg-white">
                                                <div class="icon-md text-primary m-b15">
                                                    <a href="#" class="icon-cell">
                                                      
                                                       <%= image_tag "skilled.png" %>
                                                    </a>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="wt-tilte text-uppercase font-weight-500">Highly Skilled Team</h4>
                                                    <p>Our visionary investment project guarantees minimum risks of your investment.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- COLUMNS 6 -->
                                    <div class="col-md-6 col-sm-6">
                                        <div class="m-b30">
                                            <div class="wt-icon-box-wraper  p-a20 center bg-white">
                                                <div class="icon-md text-primary m-b15">
                                                    <a href="#" class="icon-cell">

                                                         <%= image_tag "support.png" %>
                                                    </a>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="wt-tilte text-uppercase font-weight-500">24/7 Support</h4>
                                                    <p>Our customer service executives are available day and night to assist you.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="bg-secondry">
                                  <div class="contact-caption p-a30">
                                        <!-- TITLE -->
                                        <div class="text-left text-white">
                                            <h3 class="text-uppercase m-b10 m-t0">Request A Call Back</h3>
                                            <p></p>
                                        </div>
                                        <!-- TITLE -->                                      
                                    <form  class="cons-contact-form" method="post" action="#">
                                        <div class="form-group">
                                        <input name="username" type="text" required class="form-control" placeholder="Name">
                                    </div>
                                        <div class="form-group">
                                            <input name="email" type="text" class="form-control" required placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input name="phone" type="text" class="form-control" required placeholder="Phone">
                                        </div>
                                        <div class="form-group">
                                            <input name="subject" type="text" class="form-control" required placeholder="Subject">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" rows="5" placeholder="Message"></textarea>
                                        </div>
                                        <div>
                                        <button type="submit" class="site-button skew-icon-btn btn-block">
                                            <span class="font-18 inline-block text-uppercase p-lr15">Submit Now</span> 
                                        </button>
                                   </div>
                                    </form>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <!-- WHY CHOOSE US SECTION END -->                      

            <!-- COMPANY DETAIL SECTION START -->
            
            <!-- COMPANY DETAIL SECTION End -->   
                       
            <!-- HOW IT WORK SECTION START  -->
            <div class="section-full  p-t80 p-b80 bg-gray">
              <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center">
                      <span class="wt-title-subline font-16 text-gray-dark m-b15"></span>
                        <h2 class="text-uppercase">How It Work</h2>
                        <div class="wt-separator-outer"><div class="wt-separator bg-primary"></div></div>
                        <p></p>
                    </div>
                    <!-- TITLE END-->
                    <div class="section-content no-col-gap">
                        <div class="row">
                        
                            <!-- COLUMNS 1 -->
                            <div class="col-md-4 col-sm-4 step-number-block">
                                <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                                    <div class="icon-lg text-primary m-b20">
                                        <a href="#" class="icon-cell"> <%= image_tag "reg.png" %>
</a>
                                    </div>
                                    <div class="icon-content">
                                      <div class="step-number">1</div>
                                        <h4 class="wt-tilte text-uppercase font-weight-500">Create Account With Us</h4>
                                        <p>Opening an account with us is easy and will just take couple of minutes. All you need to do is fill out the form located on registration page and follow the simple registration process.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 2 -->
                            <div class="col-md-4 col-sm-4 step-number-block">
                                <div class="wt-icon-box-wraper  p-a30 center bg-secondry m-a5 ">
                                    <div class="icon-lg m-b20">
                                        <a href="#" class="icon-cell"> <%= image_tag "money.png" %>
</a>
                                    </div>
                                    <div class="icon-content text-white">
                                      <div class="step-number active">2</div>
                                        <h4 class="wt-tilte text-uppercase font-weight-500">Make payments</h4>
                                        <p>After registering with us.You would need to select a package and make payments to our company's account.Your payment would be confirmed within 24hours.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- COLUMNS 3 -->
                            <div class="col-md-4 col-sm-4 step-number-block">
                                <div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
                                    <div class="icon-lg text-primary m-b20">
                                        <a href="#" class="icon-cell"> <%= image_tag "shake.png" %>
</a>
                                    </div>
                                    <div class="icon-content">
                                      <div class="step-number">3</div>
                                        <h4 class="wt-tilte text-uppercase font-weight-500">Earn</h4>
                                        <p>Apart from permanent Returns on Investment you will also be having an opportunity to earn extra benefits by simply referring your friends or family members.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>



                    <div class="section-full p-t80 p-b50 bg-center bg-full-height bg-no-repeat"  style="background-image:url(images/background/bg-testimonial.jpg);">
                <div class="container">
                    <!-- TITLE START -->    
                    <div class="section-head text-center">
                        <span class="wt-title-subline font-16 text-gray-dark m-b15">Our Clients</span>
                        <h2 class="text-uppercase">Our Client Say</h2>
                        <div class="wt-separator-outer">
                            <div class="wt-separator bg-primary"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->
                    
                    <!-- TESTIMONIAL 4 START ON BACKGROUND -->   
                    <div class="section-content">
                        <div class="owl-carousel home-carousel-1">
                                   
                            
                            <div class="item">
                                <div class="testimonial-5">
                                    <div class="testimonial-pic-block radius-bx"> 
                                        <div class="testimonial-pic radius">
                                            <img src="human.png" width="132" height="132" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-text clearfix">
                                    <div class="testimonial-paragraph">
                                        <span class="fa fa-quote-left text-primary"></span>
                                        <p> I have been a a beneficiary of this investment since March. I encourage potential investors to do the same. DHP ROCKS!                                        </p>
                                     </div>
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Sunday Okeke</strong>
                                        <!--<span class="testimonial-position text-primary p-t10">Founder</span> -->
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                                 
                            
                            <div class="item">
                                <div class="testimonial-5">
                                    <div class="testimonial-pic-block radius-bx"> 
                                        <div class="testimonial-pic radius">
                                            <img src="human.png" width="132" height="132" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-text clearfix">
                                    <div class="testimonial-paragraph">
                                        <span class="fa fa-quote-left text-primary"></span>
                                        <p> My name is comfy I withdraw 18000 on the 29 of August 2019 and I was paid successful
                                        </p>
                                     </div>
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Comfort  Okpeh</strong>
                                        <!--<span class="testimonial-position text-primary p-t10">Founder</span> -->
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                                 
                            
                            <div class="item">
                                <div class="testimonial-5">
                                    <div class="testimonial-pic-block radius-bx"> 
                                        <div class="testimonial-pic radius">
                                            <img src="human.png" width="132" height="132" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-text clearfix">
                                    <div class="testimonial-paragraph">
                                        <span class="fa fa-quote-left text-primary"></span>
                                        <p> Yes! DHP is very real                                        </p>
                                     </div>
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Friday Alabi</strong>
                                        <!--<span class="testimonial-position text-primary p-t10">Founder</span> -->
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                                 
                            
                            <div class="item">
                                <div class="testimonial-5">
                                    <div class="testimonial-pic-block radius-bx"> 
                                        <div class="testimonial-pic radius">
                                            <img src="human.png" width="132" height="132" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-text clearfix">
                                    <div class="testimonial-paragraph">
                                        <span class="fa fa-quote-left text-primary"></span>
                                        <p> Gboza                                        </p>
                                     </div>
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Oduwa  Eghe </strong>
                                        <!--<span class="testimonial-position text-primary p-t10">Founder</span> -->
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                                 
                            
                            <div class="item">
                                <div class="testimonial-5">
                                    <div class="testimonial-pic-block radius-bx"> 
                                        <div class="testimonial-pic radius">
                                            <img src="human.png" width="132" height="132" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-text clearfix">
                                    <div class="testimonial-paragraph">
                                        <span class="fa fa-quote-left text-primary"></span>
                                        <p> I love DHP,is a live changing platform                                        </p>
                                     </div>
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">Nurudeen Oyedepo</strong>
                                        <!--<span class="testimonial-position text-primary p-t10">Founder</span> -->
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                                 
                            
                            <div class="item">
                                <div class="testimonial-5">
                                    <div class="testimonial-pic-block radius-bx"> 
                                        <div class="testimonial-pic radius">
                                            <img src="human.png" width="132" height="132" alt="">
                                        </div>
                                    </div>
                                    <div class="testimonial-text clearfix">
                                    <div class="testimonial-paragraph">
                                        <span class="fa fa-quote-left text-primary"></span>
                                        <p> Thank God for Dhp it has been paying me no delay at all.long live Dhp you are d best!!!!                                        </p>
                                     </div>
                                    <div class="testimonial-detail clearfix">
                                        <strong class="testimonial-name">nnamdi benneth</strong>
                                        <!--<span class="testimonial-position text-primary p-t10">Founder</span> -->
                                    </div>
                                </div>
                                    
                                </div>
                            </div>
                                                      
                            
                        </div>
                    </div>
                    
                </div>
            </div>


             <div class="section-full  p-t80 p-b80 bg-gray">
              <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center">
                      <span class="wt-title-subline font-16 text-gray-dark m-b15"></span>
                        <h2 class="text-uppercase">Our Investment Packages</h2>
                        <div class="wt-separator-outer"><div class="wt-separator bg-primary"></div></div>
                        <p></p>
                    </div>
                    <!-- TITLE END-->
                    <div class="section-content no-col-gap">
                        <div class="row">
                        
                       <a href="login.php">    <%= image_tag "unders.png" %>
 </a>

                        </div>


                    </div>
                
                </div>
            </div>
            
            <div class="section-full no-col-gap bg-repeat">
                <div class="container-fluid">
                        
                        <div class="row">
                          <div class="col-md-6 col-sm-6 bg-secondry">
                              <div class="section-content p-tb60 p-r30 clearfix overflow-hide">
                                  <div class="wt-left-part any-query">
                                      <img src="images/any-query.png" alt="">
                                      <div class="text-center">
                                          <h3 class="text-uppercase font-weight-500 text-white">Any Query?</h3>
                                            <p class="text-white">Neu Diamondhubplus is here to provide you with more information, answer any questions you may have and 
create an effective solution for your instructional needs.</p>
                                            <h4 class="text-primary">+2349062723633</h4>
                                        </div>    
                                    </div>
                                </div>                               
                            </div>
                            <div class="col-md-6 col-sm-6 bg-primary">
                              <div class="section-content p-tb60 p-l30 clearfix overflow-hide">
                                    <div class="wt-right-part any-query-contact">
                                      <img src="images/any-query-contact.png" alt="">
                                      <div class="text-center">
                                          <h3 class="text-uppercase font-weight-500 text-white">Contact Us</h3>
                                            <p class="text-white">Neu Diamondhubplus is here to provide you with more information, answer any questions you may have and 
create an effective solution for your instructional needs..</p>
                                            <h4 class="text-secondry">support@diamondhubplus.com</h4>
                                        </div>                               
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <!-- ANY QUERY CONTENT  END --> 
            
            <!-- OUR TEAM MEMBER SECTION START -->
          
            <!-- OUR TEAM MEMBER SECTION END --> 
                                    
            <!-- OUR VALUE SECTION START -->           
            
            <!-- OUR VALUE SECTION  END -->              
                                    
        </div>
        <!-- CONTENT END -->